#stats,
body {
  overflow: hidden
}

#canvas,
#openfl-overlay {
  top: 0;
  width: 100%;
  height: 100%
}

#adsBottom,
#canvas,
#openfl-content,
#openfl-overlay {
  left: 0;
  position: absolute;
  bottom: 0;
  right: 0
}

body {
  padding: 0;
  margin: 0
}

#openfl-content {
  width: 880px;
  height: 1024px;
  margin: auto;
  top: 0;
  z-index: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none
}

#openfl-content>canvas {
  min-width: 880px;
  min-height: 1024px
}

#openfl-overlay {
  z-index: 290;
  background: #000;
  opacity: .4
}

form {
  margin-bottom: 0
}

.btn-login,
.btn-logout,
.btn-play,
.btn-play-guest,
.btn-settings,
.btn-shop,
.btn-spectate {
  display: block;
  float: left;
  height: 35px
}

.btn-logout,
.btn-spectate {
  height: 35px;
  display: block;
  width: 110px;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  float: right
}

#helloContainer[data-logged-in="0"] .btn-play-guest {
  margin-left: 5px;
  width: 275px
}

#helloContainer[data-logged-in="0"] .btn-login {
  margin-left: 5px;
  width: 145px
}

#helloContainer[data-logged-in="0"] #agario-main-buttons .agario-profile,
#helloContainer[data-logged-in="0"] .agario-exp-bar,
#helloContainer[data-logged-in="0"] .agario-profile-panel,
#helloContainer[data-logged-in="0"] .btn-logout,
#helloContainer[data-logged-in="0"] .btn-play,
#helloContainer[data-logged-in="0"] .progress-bar-star {
  display: none
}

#helloContainer[data-logged-in="0"] .agario-loggedout-panel {
  display: block
}

#helloContainer[data-logged-in="1"] .btn-play {
  margin-left: 5px;
  width: 275px
}

#helloContainer[data-logged-in="1"] .btn-login,
#helloContainer[data-logged-in="1"] .btn-play-guest {
  display: none
}

#helloContainer[data-logged-in="1"] .agario-profile-panel {
  display: block
}

#helloContainer[data-logged-in="1"] .agario-loggedout-panel {
  display: none
}

#version-tag,
.btn-spectate {
  display: block;
  margin-top: 10px
}

.btn-settings {
  width: 40px
}

.btn-spectate {
  float: right;
  margin-left: 0;
}

.btn-search {
  margin-left: 0;
  margin-top: 10px;
  height: 35px
}

.btn-runBots {
  margin-left: 0;
  margin-top: 10px;
  width: 100%
}

#version-tag {
  font-size: 9px;
  text-align: center;
  color: grey
}

#adsBottomInner {
  margin: 0 auto;
  width: 728px;
  height: 90px;
  border: 5px solid #fff;
  border-radius: 5px 5px 0 0;
  background-color: #FFF;
  box-sizing: content-box
}

.region-message {
  display: none;
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 6px;
  text-align: center
}

#nick {
  width: 65%;
  float: left
}

#locationKnown #region {
  width: 100%
}

#locationUnknown #region {
  margin-bottom: 15px
}

#gamemode {
  width: 33%;
  float: right
}

.agario-panel {
  display: inline-block;
  width: 350px;
  background-color: #FFF;
  margin: 2px;
  border-radius: 10px;
  padding: 5px 15px;
  vertical-align: top
}

.agario-side-panel {
  display: inline-block;
  width: 220px
}

#helloContainer,
.connecting-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%
}

.connecting-panel {
  margin: auto auto auto -175px
}

#adbg {
  width: 300px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center
}

.agario-exp-bar {
  height: 30px;
  position: relative;
  border: 2px solid #01612B
}

.agario-exp-bar .progress-bar-text,
.progress-bar-star {
  position: absolute;
  cursor: default;
  text-align: center;
  text-shadow: 0 0 3px #000, -1px 0 0 #000, 1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, -1px -1px 0 #000, 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000;
  font-family: Ubuntu, sans-serif
}

.agario-exp-bar .progress-bar {
  background-color: #383;
  border-radius: 0 4px 4px 0;
  -webkit-transition: none;
  transition: none
}

.agario-exp-bar .progress-bar-text {
  font-size: 12pt;
  opacity: .75;
  color: #FFF;
  line-height: 26px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}

#agario-results-table {
  width: 100%
}

#agario-results-table th {
  text-align: center;
  font-size: 8pt
}

#agario-results-table td {
  text-align: center;
  color: #999;
  font-size: 11pt;
  padding-bottom: 15px
}

.progress-bar-star {
  top: -13px;
  right: -16px;
  width: 50px;
  height: 50px;
  background-image: url(http://agar.io/img/star.png);
  background-size: cover;
  -webkit-transform: rotate3d(0, 0, 1, 10deg);
  transform: rotate3d(0, 0, 1, 10deg);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: #FFF;
  line-height: 55px;
  font-size: 12pt
}

.tooltip-inner {
  max-width: 300px
}

.agario-shop-panel {
  padding: 15px;
  display: none;
  float: right
}

#skinLabel {
  cursor: pointer;
  top: 35px;
  left: 0;
  position: absolute
}

.circle.big,
.circle.small {
  position: absolute;
  left: 5px
}

.timer {
  color: Red;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  min-height: 12px;
  width: 80px
}

.btn-shop,
.btn-shop:active,
.btn-shop:disabled {
  background-color: #ff7900;
  border-color: #ff7900;
  color: #FFF;
  font-weight: 700;
  width: 100%
}

.btn-shop.active,
.btn-shop.focus,
.btn-shop:active,
.btn-shop:focus,
.btn-shop:hover {
  background-color: #954700;
  border-color: #954700;
  color: #FFF;
  font-weight: 700
}

.btn-retry {
  line-height: 24px;
  width: 100%
}

.circle {
  border-radius: 50%;
  display: block;
  color: #FFF;
  text-align: center
}

.circle.bordered {
  border: 1px solid #666
}

.circle.small {
  width: 24px;
  height: 24px;
  top: 0;
  font-size: 12px;
  line-height: 20px
}

.circle.big {
  width: 32px;
  height: 32px;
  top: 5px;
  line-height: 30px;
  font-size: 15px
}

.circle.gray {
  border: 2px solid #616161;
  background: #a5a5a5
}

.circle.red {
  border: 2px solid #d9140d;
  background: red
}

.circle.green {
  border: 2px solid #d9140d;
  background: #69dd00
}

.vertical-line {
  display: inline-block;
  border-left: 1px solid #eee;
  width: 1px
}

.shop-power {
  position: relative;
  cursor: pointer;
  padding: 4px;
  max-width: 80px
}

.shop-right-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 3px
}

.shop-left-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 95px
}

.agario-wallet-container {
  width: 100%;
  border: 1px solid #4db800;
  height: 32px;
  border-radius: 6px;
  position: relative;
  cursor: pointer
}

.agario-wallet-container .agario-wallet-currency {
  position: absolute;
  right: 35px;
  top: 6px
}

.agario-wallet-container .agario-wallet-plus {
  width: 30px;
  right: 0;
  background: #60e200;
  height: 100%;
  border-radius: 0 5px 5px 0;
  position: absolute
}

.agario-wallet-container .agario-wallet-plus span {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  display: block;
  line-height: 30px
}

.creating-party-text,
.outlined-text {
  color: #FFF;
  top: 0;
  bottom: 0;
  cursor: default;
  left: 0;
  right: 0
}

.agario-wallet-container .agario-wallet-label {
  position: absolute;
  text-align: right;
  font-weight: 700;
  line-height: 32px;
  width: 60px;
  height: 30px;
  font-size: 13px
}

.fb-like {
  position: absolute;
  z-index: 200000
}

.agario-loggedout-panel {
  padding: 0 0 5px
}

.outlined-text {
  text-align: center;
  text-shadow: 0 0 3px #000, -1px 0 0 #000, 1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, -1px -1px 0 #000, 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000;
  position: absolute;
  font-family: Ubuntu, sans-serif
}

.plus-text {
  text-shadow: none;
  font-size: 23px;
  line-height: 16px
}

.agario-profile-panel {
  padding: 15px;
  float: right
}

.agario-profile-panel .agario-profile-picture {
  float: left;
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 5px;
  border: 2px solid #CCC;
  margin-right: 6px
}

.agario-profile-panel .agario-profile-name-container {
  float: left;
  display: table;
  width: 120px;
  height: 64px;
  position: relative
}

.agario-profile-panel .agario-profile-name-container .agario-profile-name {
  vertical-align: middle;
  margin-top: 10px;
  text-align: center;
  font-weight: 700
}

.agario-party,
.agario-party-0,
.agario-party-1,
.agario-party-2,
.agario-party-3,
.agario-party-4,
.agario-party-5,
.agario-party-6 {
  display: none
}

#helloContainer[data-gamemode=":party"] .agario-party {
  display: block;
  position: relative
}

#helloContainer[data-gamemode=":party"] .agario-promo {
  display: none
}

#helloContainer[data-party-state="0"] .agario-party-0,
#helloContainer[data-party-state="1"] .agario-party-1,
#helloContainer[data-party-state="2"] .agario-party-2,
#helloContainer[data-party-state="3"] .agario-party-3,
#helloContainer[data-party-state="4"] .agario-party-4,
#helloContainer[data-party-state="5"] .agario-party-5,
#helloContainer[data-party-state="6"] .agario-party-6 {
  display: block
}

.partyToken {
  margin-bottom: 10px
}

.side-container {
  vertical-align: top;
  display: inline-block;
  width: 294px
}

.cell-spinner {
  display: block;
  margin: 0
}

.creating-party-text {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 100px;
  text-shadow: 0 0 3px #000, -1px 0 0 #000, 1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, -1px -1px 0 #000, 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000
}

.agario-results-0,
.agario-results-1,
.agario-results-2 {
  display: none
}

#helloContainer[data-results-state="0"] .agario-results-0,
#helloContainer[data-results-state="1"] .agario-results-1,
#helloContainer[data-results-state="2"] .agario-results-2 {
  display: block
}

#options {
  margin: 6px 6px 20px;
  font-size: 12px
}

#options>label {
  display: block;
  width: 50%;
  float: left
}

#botsOptions {
  margin: 5px 6px 6px
}

#botsOptions>label {
  width: 50%
}

#s300x250,
#statsContinue {
  left: 25px;
  right: 25px;
  width: 300px
}

#stats {
  position: relative;
  width: 350px;
  height: 581px;
  padding: 0 0 300px
}

#s300x250,
#statsChartText,
#statsContinue,
#statsGraph,
#statsPellets,
#statsSubtext,
#statsText,
.tosBox {
  position: absolute
}

#statsHighestMassContainer,
#statsPelletsContainer,
#statsPlayerCellsEatenContainer,
#statsTimeAliveContainer,
#statsTimeLeaderboardContainer,
#statsTopPositionContainer {
  position: absolute;
  width: 100px;
  height: 100px
}

#statsPelletsContainer {
  top: 30px;
  left: 50px
}

#statsHighestMassContainer {
  top: 30px;
  right: 50px
}

#statsTimeAliveContainer {
  top: 85px;
  left: 50px
}

#statsTimeLeaderboardContainer {
  top: 85px;
  right: 50px
}

#statsPlayerCellsEatenContainer {
  top: 140px;
  left: 50px
}

#statsTopPositionContainer {
  top: 140px;
  right: 50px
}

#statsPellets {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto
}

#statsText {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 100px;
  font-size: 23px
}

#statsSubtext {
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 60px;
  font-size: 12px;
  color: #000;
  text-align: center
}

#statsChartText {
  left: 20px;
  bottom: 250px;
  line-height: 40px;
  font-size: 40px
}

#statsChartText,
#statsText {
  cursor: default;
  color: #444;
  text-align: center;
  font-weight: 700
}

#statsContinue {
  bottom: 295px
}

#statsGraph {
  bottom: 350px;
  left: 0;
  right: 0;
  opacity: .4
}

#s300x250 {
  bottom: 10px;
  height: 250px
}

.tosBox {
  z-index: 1000;
  bottom: 0;
  right: 0;
  background-color: #FFF;
  border-radius: 5px 0 0;
  padding: 5px 10px
}

h5 {
  text-align: center;
}

h6 {
  font-align: center;
  font-size: 30px;
}